<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.map" type="text/javascript" charset="utf-8"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript" charset="utf-8" ></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<link rel="stylesheet" type="text/css" href="css.css">
		<script src="application.js" type="text/javascript" charset="utf-8" ></script>
	</head>
	<style>
		#cp_main{
			vheight: 100;
		}
		.loginform{
			position: absolute;
			margin-top:20%;
			height: 40%;
			width:90%;		
		}
		[role=form]{
			margin-left: 0px
		}
		.loginheader{
			font-size:20px;
			border-bottom: 1px solid grey;
		}
		
	</style>
	<body>
		<div class="container-fluid" id="cp_main">
			<form role="form" class="loginform">
				<div class="form-group  loginheader">
	   				<label for="">#Campus Pay Ticket</label>
	    			
	  			</div>

	 			 <div class="form-group">
	   				<label for="subject">Subject:</label>
	   					<input type="hidden" value="{{$root.user.user_id}}" ng-model="ticket.userid">
	   					<input type="hidden" value="{{$root.user.email}}" ng-model="ticket.email">

	    				<input type="text" class="form-control" id="subject" ng-model="ticket.subject">
	  			</div>
	  			<div class="form-group">
		    		<label for="message">Message:</label>
		    		<textarea class="form-control" id="message" name="message" ng-model="ticket.message"></textarea>
			  	</div>
				
				<div  class="btn btn-default">Submit</button>
			</form>
		</div>
		
	</body>
	<footer>
		
	</footer>
</html>