#cp_main{
	background-color: #ffffff;
}
#cp_main .outer-rows{
	padding-left:5px;
	padding-right:5px;

	padding-top:5px;

	padding-bottom:5px;

}

#info-top {
	background-color: #f1f5f8;
	color: #898f9c;
	padding-bottom: 10px !important;
}
#info-top .row{
	padding-top:5px;
}
#info-top .btn{
	background-color: #e9eaed;
	color:#989da8;
	float:right;
	width:80px;
	padding:0;
	border:1px solid #989da8;
	box-shadow: none;
	text-shadow: none;
}
#info-top select{
	float:right;
	box-shadow: none;
}

.offer-title-bar{
	background-color: #262729;
	color:#ffffff;	
}
.offers{
	background-color: #ffffff;
	color:#989da8;
}
.offer-box{
	padding:0px;
}
.offer-box > .row{
	border: 1px solid #e8e3e3;
	margin:10px;
	
}
.offers .offer-expiry{
	font-size: 12px;
	margin:3px;
}
.offers .btn{
	background-color: #cdd074;
	color:#ffffff;
	width:150px;
	padding:1px;
	height:26px;
	box-shadow: none;
	text-shadow: none;
}
.offers .offer-details-link{
	color:#2b9ac2;
	text-decoration: none;
	margin:2px;
}
.v-divide{
	width:1px;
	height:60%;
	border-left: 1px solid #e8e3e3;
	position: absolute;
	left:50%;
	top:20%;
}
.fa.fa-info-circle{
	margin-left: 3px;
	color: #cdd074;
	font-size:16px;
}
footer{
	position: absolute;
	bottom: 0px;
	left:0px;
	right:0px;
	margin:auto;
}