<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.map" type="text/javascript" charset="utf-8"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript" charset="utf-8" ></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<link rel="stylesheet" type="text/css" href="css.css">
		<script src="application.js" type="text/javascript" charset="utf-8" ></script>
		<style type="text/css" media="screen">
			.retailer-btn{
				margin-top: 15px;
			}
			.retailer-btn .btn{
					background-color: #ffd074;
					color:#ffffff;
					width:175px;
					padding:6px;
					height:36px;
					box-shadow: none;
					text-shadow: none;
					margin-top:10px;
			}
			#activation-top{
					background-color: #e9eaed;
					color:#989da8;
					height: 22%;
			}
			#steps-info{
				color:#989da8;
				margin-top:20px;
				padding-top:10px;
				margin-bottom: :20px;
				padding-bottom:10px;
				margin-left:0px;
			}
			#cashback-text{
				font-size: 16px;
				height: 3
			} 
			#cp_main{
				height: 100%;

			}
			#thumbsup{
				position: absolute;
				left:38%;
				top:-38px;
			}
			.rounded{
				width: 90px;
				height: 90px;
				background: #ffd074;
				-moz-border-radius: 50px;
				-webkit-border-radius: 50px;
				border-radius: 45px;
			}
			.fa-inr{
				padding:12px;
				padding-top:16px;
			}
			#activation-body{
				height: 78%;
				margin-top: 40px;
				color:#898f9c;
			}
			.offer-title{
				margin-top: 25px;
				font-size: 18px;
			}
			#cbactive_text{
				margin-top:6%;
				margin-bottom: 12%;
				font-size:22px;
			}
			.cp-description{
				font-size: 16px;
				margin-top: 30px;
			}	
		</style>
	</head>
	<body>
		<div class="cp_main container-fluid" id="cp_main">
			<div class="row outer-rows" id="activation-top">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" id="cbactive_text"><div>Congratulations</div></div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
						<div class="rounded text-center" id="thumbsup" style="vertical-align: central;color:black"><i class="fa fa-inr fa-4x" aria-hidden="true"></i></div>
				</div>
				</div>
			</div>
			
			<div class="row outer-rows" id="activation-body">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cp-description text-center">
							Shop normally at {{affiliateName}}. Cashback will normally will reflect in your account in 72 hours. Cofirmation will take around 4 to 6 weeks. 	
						</div>
					</div>
					<div class="row retailer-redirection">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ><div class="btn">>>>>>>></div></div>
					</div>
				</div>
			</div>
			<div class="row outer-rows" id="steps-info">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					If you are not automatically redirected, please <a href="#">click here</a>  
				</div>
			</div>						
		</div>	
	</body>
	<footer>
		<div class="text-center">
			<a href="#">Powered by I-Made</a>
		</div>	
	</footer>
</html>